body{
    
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  flex-direction: row;
  padding-bottom: 4em ;
}

.formulario-1{
  max-width: 60em;
  padding: 1.5em;
  margin: 0 auto;
  background-color: rgba(228, 228, 234, 0.849); /*Color del Cuadro transparente*/
  font-weight: bold;
  border-radius: 0.5em;
  box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.187); /*Sombreado de los bordes*/
}

.container{
margin-top: 7em;
}


.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 60px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  
}

a{
  color: #3e3e40;
  font-weight: 500;
  position: relative;
  text-align: center;
}

.btn2 {/*Botón juan X*/
  width: 30px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 3px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn3 {/*Botón juan agregar*/
  width: 200px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}


/*LISTA*/

.table-container{
  padding: 0 10%;
  margin: 40px auto 0;
 
}

.titulo-tabla{
  font-size: 40px;
  text-align: center;
  color: #090909;
  margin-bottom: 40px;
}

.tabla{
  width: 100%;
  border-collapse: collapse;
}

.tabla thead{
  background-color: #4d84e2;
}

.tabla thead tr th{
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #fff;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border: 1px solid #dee2e685;
}

.tabla tbody tr td{
  font-size: 15px;
  letter-spacing: 0.35px;
  font-size: normal;
  background-color: #548ef22a;
  padding: 8px;
  text-align: center;
  border: 1px solid #dee2e685;
}




@media (max-width: 785px) {
  .tabla thead{
    display: none;
  }

  .tabla, .tabla tbody, .tabla tr, .tabla td{
    display: block;
    width: 100%;
  }

  .tabla tr{
    margin-bottom: 15px;
  }

  .tabla tbody tr td{
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .tabla td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
  }
  
}

.btn-cerrar{
  height: 35px;
  background-color: rgb(170, 6, 6);
}

.btn-eliminar:hover{
  background-color: rgb(225, 6, 6);
}

.btn-eliminar{
  height: 35px;
  background-color: rgb(170, 6, 6);
}

.btn-eliminar:hover{
  background-color: rgb(225, 6, 6);
}

.btn-modificar{
  height: 35px;
  background-color: rgb(5, 113, 84);
}

.btn-modificar:hover{
  background-color: rgb(7, 140, 105);
}

#lista-productos{
  height: 20vh;
  overflow-y: scroll;
}

/*/////////////////////////////////////////////MODAL JUAN/////////////////////////////////////////////////////////////// */

section {
height: 40%px;
align-items: center;
justify-content: space-evenly;
}

section img {
height: 60%;
font-size: 50px;
font-weight: 500;
margin-bottom: 5px;
}
section p {
margin-bottom: 15px;
}

.cta {
display: inline-block;
padding: 7px 0;
width: 190px;
border: 1px solid #fff;
border-radius: 50px;
text-align: center;
text-decoration: none;
color: #fff;
background: #5995fd;
}

.modal_container2 {
opacity: 0;
visibility: hidden;
position: fixed;
z-index: 1000;
width: 100%;
height: 100vh;
top: 0;
left: 0;
background: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
}

.modal1 {
border-radius: 5%;
width: 40%;
height: 50%;
background: #fff;
flex-direction: colum;
justify-content: space-evenly;
/*overflow: hidden;*/
text-align: center;
position: relative;
transition: transform 0.8s;
transform: translateY(0%);
}
.modal_close {
transform: translateY(-200%);
}

.close {
position: absolute;
top: 5px;
right: 5px;
width: 25px;
height: 25px;
background: #c44a4a;
line-height: 25px;
cursor: pointer;
text-align: center;
margin-right: 10px;
border-radius: 40px;
}

@media screen and (max-width: 600px){
section{
  flex-direction: column-reverse;
}

.modal1 {
border-radius: 5%;
width: 50%;
height: 50%;
background: #fff;
flex-direction: colum;
justify-content: space-evenly;
/*overflow: hidden;*/
text-align: center;
position: relative;
transition: transform 0.8s;
transform: translateY(0%);
}

}
